@model IEnumerable<Model.EntityFramework.Content>

@{
    ViewBag.Title = "Index";
    ViewBag.Header = "right-sidebar blog-grid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="content" class="site-content" tabindex="-1">
    <div class="container">
        <nav class="woocommerce-breadcrumb"><a href="home.html">Home</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>Tin tức</nav>
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                @foreach (var item in Model)
                {
                    <article class="post format-standard hentry">

                        <div class="media-attachment"><a href="blog-single.html"><img width="870" height="460" src=@item.Image class="wp-post-image" alt="8"></a></div>
                        <div class="content-body">
                            <header class="entry-header">
                                <h1 class="entry-title" itemprop="name headline"><a href="blog-single.html" rel="bookmark">@item.MetaTitle</a></h1>
                                <div class="entry-meta">
                                    <span class="cat-links"><a href="blog-single.html" rel="category tag">@item.Tags</a></span>
                                    <span class="posted-on"><a href="blog-single.html" rel="bookmark"><time class="entry-date published" datetime="2016-03-01T07:40:25+00:00">@item.CreatedDate</time> <time class="updated" datetime="2016-03-04T18:46:11+00:00" itemprop="datePublished">@item.ModifiedDate</time></a></span>
                                </div>
                            </header><!-- .entry-header -->

                            <div class="entry-content" itemprop="articleBody">
                                <p>@item.Description</p>
                            </div><!-- .post-excerpt -->

                            <div class="post-readmore"><a href="/content/Detail/@item.ID" class="btn btn-primary">Read More</a></div>
                            <span class="comments-link"><a href="blog-single.html#comments">Leave a comment</a></span>
                        </div>

                    </article><!-- #post-## -->
                }

                @if (ViewBag.TotalPage > 1)
                {
                    var pageDisplay = (int)ViewBag.MaxPage;
                    int totalPage = (int)ViewBag.TotalPage;
                    int currentPage = ((int)ViewBag.Page);

                    // Create numeric links
                    var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                    var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                    var link = "/tin-tuc";
                    <nav>
                        <ul class="pagination">
                            @if (currentPage > ViewBag.First)
                            {
                                <li><a href="@link?page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                                <li>
                                    <a href="@link?page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a>
                                </li>

                            }
                            @for (int i = startPageIndex; i <= endPageIndex; i++)
                            {
                                if (currentPage == i)
                                {

                                    <li> <a href="@link?page=@i" class="active" title="Trang @i">@i</a></li>
                                }
                                else
                                {
                                    <li><a href="@link?page=@i" title="Trang @i" class="pos">@i</a></li>
                                }
                            }
                            @if (currentPage < totalPage)
                            {
                                <li><a href="@link?page=@ViewBag.Next" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
                                <li> <a href="@link?page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
                            }

                        </ul>
                    </nav>

                }
            </main><!-- #main -->
        </div>
        <div id="sidebar" class="sidebar-blog" role="complementary">
            <aside id="search-2" class="widget widget_search">
                <form role="search" method="get" class="search-form" action="#">
                    <label>
                        <span class="screen-reader-text">Search for:</span>
                        <input type="search" class="search-field" placeholder="Search …" value="" name="s">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </form>
            </aside>
            <aside class="widget widget_text">
                <h3 class="widget-title">Giới thiệu</h3>
                <div class="textwidget">Đây là trang tin tức.</div>
            </aside>
            <aside class="widget widget_categories">
                <h3 class="widget-title">Danh mục tin tức</h3>
                <ul>
                    @{
                        var categories = (List<Model.EntityFramework.Category>)ViewBag.category;
                        foreach (var category in categories)
                        {
                            <li><a href="/Content/@category.ID">@category.Name</a></li>
                        }
                    }
                </ul>
            </aside>
            <aside class="widget electro_recent_posts_widget">
                <h3 class="widget-title">Tin tức gần đây</h3>
                <ul>
                    @{
                        var recentpost = (List<Model.EntityFramework.Content>)ViewBag.recentpost;
                        foreach (var category in recentpost)
                        {
                            <li>
                            <a class="post-thumbnail" href="/Content/Detail/@category.ID"><img width="150" height="150" src=@category.Image class="wp-post-image" alt="1"></a>
                            <div class="post-content">
                                <a class="post-name" href="/Content/Detail/@category.ID">@category.Name</a>
                                <span class="post-date">@category.CreatedDate</span>
                            </div>
                                </li>
                        }
                    }
                </ul>
            </aside>
            <aside id="tag_cloud-2" class="widget widget_tag_cloud">
                <h3 class="widget-title">Danh sách tag</h3>
                <div class="tagcloud">
                    @{
                        var tag = (List<Model.EntityFramework.Tag>)ViewBag.tag;
                        foreach (var item in tag)
                        {
                            <a href="/Content/Tag/@item.ID" class="" title="10 topics" style="font-size: 22pt;">@item.Name</a>
                        }

                    }
                </div>
            </aside>
        </div>
    </div>
</div>

