@model Model.EntityFramework.User
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @class = "kt-form kt-form--label-right" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xl-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">Tạo tài khoản mới<small></small></h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-wrapper">

                        </div>
                    </div>
                </div>


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="kt-portlet__body">
                    <div class="kt-section kt-section--first">
                        <div class="kt-section__body">
                            <div class="row">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-9 col-xl-6">
                                    <h3 class="kt-section__title kt-section__title-sm">Thông tin tài khoản</h3>
                                </div>
                            </div>

                            <div class="form-group row">
                                @*<label class="col-xl-3 col-lg-3 col-form-label">Tên đăng nhập</label>*@
                                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "col-xl-3 col-lg-3 col-form-label" })
                                <div class="col-lg-9 col-xl-6">
                                    @*<input class="form-control" type="text" placeholder="Nhập tên đăng nhập">*@
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @*<label class="col-xl-3 col-lg-3 col-form-label">Mật khẩu</label>*@
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-xl-3 col-lg-3 col-form-label" })
                                <div class="col-lg-9 col-xl-6">
                                    @*<input class="form-control" type="password" placeholder="Nhập mật khẩu">*@
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-9 col-xl-6">
                                    <h3 class="kt-section__title kt-section__title-sm">Thông tin cá nhân:</h3>
                                </div>
                            </div>
                            <div class="form-group row">
                                @*<label class="col-xl-3 col-lg-3 col-form-label">Họ tên</label>*@
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-xl-3 col-lg-3 col-form-label" })
                                <div class="col-lg-9 col-xl-6">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @*<label class="col-xl-3 col-lg-3 col-form-label">Số điện thoại</label>*@
                                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "col-xl-3 col-lg-3 col-form-label" })
                                <div class="col-lg-9 col-xl-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
                                        @*        <input type="text" class="form-control" placeholder="Nhập số điện thoại" aria-describedby="basic-addon1">*@

                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    </div>
                                    @*<span class="form-text text-muted">We'll never share your email with anyone else.</span>*@
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-xl-3 col-lg-3 col-form-label" })
                                <div class="col-lg-9 col-xl-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-at"></i></span></div>
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-last row">
                                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "col-xl-3 col-lg-3 col-form-label" })
                                <div class="col-lg-9 col-xl-6">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

                                        <div class="input-group-append"><span class="input-group-text">.com</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions">
                        <div class="row">
                            <div class="col-lg-3 col-xl-3">
                            </div>
                            <div class="col-lg-9 col-xl-9">
                                <button type="submit" class="btn btn-success">Submit</button>&nbsp;
                                @*<button class="btn btn-secondary" onclick="history.back()">
                                        Cancel
                                    </button>*@
                                  @Html.ActionLink("Cancel", "Index", "Account", null, new { @class = "btn btn-secondary" })

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
}