@model List<OnlineShop.Models.CartItem>


@{
    ViewBag.Title = "Giỏ hàng";
    ViewBag.Header = "page home page-template-default";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter {


    <script src="/assets/client/js/Controller/cartController.js"></script>

}
<div id="content" class="site-content" tabindex="-1">
    <div class="container">

        <nav class="woocommerce-breadcrumb"><a href="home.html">Home</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>Cart</nav>

        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <article class="page type-page status-publish hentry">
                    <header class="entry-header"><h1 itemprop="name" class="entry-title">Giỏ hàng</h1></header><!-- .entry-header -->

                    <form>

                        <table class="shop_table shop_table_responsive cart">
                            <thead>
                                <tr>
                                    <th class="product-remove">&nbsp;</th>
                                    <th class="product-thumbnail">&nbsp;</th>
                                    <th class="product-name">Mã sản phẩm</th>
                                    <th class="product-name">Tên sản phẩm</th>
                                    <th class="product-price">Đơn giá</th>
                                    <th class="product-quantity">Số lượng</th>
                                    <th class="product-subtotal">Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="cart_item">

                                        <td class="product-remove">
                                            <a class="btn-delete remove" data-id="@item.Product.ID" href="#">×</a>
                                        </td>

                                        <td class="product-thumbnail">
                                            <a href="single-product.html"><img width="180" height="180" src="@item.Product.Image" alt=""></a>
                                        </td>
                                        <td data-title="Product" class="product-name">
                                            <a href="single-product.html">@item.Product.ID</a>
                                        </td>

                                        <td data-title="Product" class="product-name">
                                            <a href="single-product.html">@item.Product.Name</a>
                                        </td>

                                        <td data-title="Price" class="product-price">
                                            @if (item.Product.PromotionPrice == 0)
                                            {
                                                <span class="amount">@Convert.ToDecimal(item.Product.Price.GetValueOrDefault(0)).ToString("#,##0")</span>
                                            }
                                            else
                                            {
                                                <span class="amount">@Convert.ToDecimal(@item.Product.PromotionPrice.GetValueOrDefault(0)).ToString("#,##0") </span>
                                            }



                                        </td>

                                        <td data-title="Quantity" class="product-quantity">

                                            <div class="quantity">
                                                @*  <input type="button" class="minus" value="-">*@
                                                <label>Số lượng:</label>
                                                <input class="txtQuantity input-text qty text" type="number" data-id="@item.Product.ID" title="Qty" value="@item.Quantity" max="@item.Product.Quantity" min="0" step="1">
                                                @*  <input type="button" class="plus" value="+">*@
                                            </div>
                                        </td>

                                        <td data-title="Total" class="product-subtotal">

                                            @if (item.Product.PromotionPrice == 0)
                                            {
                                                <span class="amount">@Convert.ToDecimal((item.Product.Price.GetValueOrDefault(0) * item.Quantity)).ToString("#,##0")</span>
                                            }
                                            else
                                            {
                                                <span class="amount">@Convert.ToDecimal((item.Product.PromotionPrice.GetValueOrDefault(0) * item.Quantity)).ToString("#,##0")</span>
                                            }

                                        </td>
                                    </tr>

                                }


                                <tr>
                                    <td class="actions" colspan="6">

                                        @*<div class="coupon">

                                                <label for="coupon_code">Coupon:</label> <input type="text" placeholder="Coupon code" value="" id="coupon_code" class="input-text" name="coupon_code"> <input type="submit" value="Apply Coupon" name="apply_coupon" class="button">

                                            </div>*@

                                        @if (Model.Count > 0)
                                        {
                                            <button id="btnUpdate" class="button">Cập nhật giỏ hàng</button>

                                        }


                                        <div class="wc-proceed-to-checkout">
                                            @if (Model.Count > 0)
                                            {
                                                <a class="checkout-button button alt wc-forward" href="/thanh-toan">Thanh toán</a>
                                            }

                                        </div>


                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <div class="cart-collaterals">

                        <div class="cart_totals ">

                            <h2>Tổng đơn hàng</h2>

                            <table class="shop_table shop_table_responsive">

                                <tbody>
                                    <tr class="cart-subtotal">
                                        <th>Subtotal</th>
                                        <td data-title="Subtotal">
                                            <span class="amount">


                                                $3,299.00
                                            </span>
                                        </td>
                                    </tr>


                                    @*<tr class="shipping">
                                            <th>Shipping</th>
                                            <td data-title="Shipping">
                                                Flat Rate: <span class="amount">$300.00</span> <input type="hidden" class="shipping_method" value="international_delivery" id="shipping_method_0" data-index="0" name="shipping_method[0]">

                                                <form method="post" action="cart.html" class="woocommerce-shipping-calculator">

                                                    <p><a data-toggle="collapse" aria-controls="calculator" href="#calculator" aria-expanded="false" class="shipping-calculator-button">Calculate Shipping</a></p>

                                                    <div id="calculator" class="shipping-calculator-form collapse">
                                                        <p id="calc_shipping_country_field" class="form-row form-row-wide">
                                                            <select rel="calc_shipping_state" class="country_to_state" id="calc_shipping_country" name="calc_shipping_country">
                                                                <option value="">Select a country…</option>
                                                                <option value="AX">Åland Islands</option>

                                                            </select>
                                                        </p>

                                                        <p id="calc_shipping_state_field" class="form-row form-row-wide validate-required">
                                                            <span>
                                                                <select id="calc_shipping_state" name="calc_shipping_state"><option value="">Select an option…</option><option value="AP">Andhra Pradesh</option><option value="AR">Arunachal Pradesh</option><option value="AS">Assam</option><option value="BR">Bihar</option><option value="CT">Chhattisgarh</option><option value="GA">Goa</option><option value="GJ">Gujarat</option><option value="HR">Haryana</option><option value="HP">Himachal Pradesh</option><option value="JK">Jammu and Kashmir</option><option value="JH">Jharkhand</option><option value="KA">Karnataka</option><option value="KL">Kerala</option><option value="MP">Madhya Pradesh</option><option value="MH">Maharashtra</option><option value="MN">Manipur</option><option value="ML">Meghalaya</option><option value="MZ">Mizoram</option><option value="NL">Nagaland</option><option value="OR">Orissa</option><option value="PB">Punjab</option><option value="RJ">Rajasthan</option><option value="SK">Sikkim</option><option value="TN">Tamil Nadu</option><option value="TS">Telangana</option><option value="TR">Tripura</option><option value="UK">Uttarakhand</option><option value="UP">Uttar Pradesh</option><option value="WB">West Bengal</option><option value="AN">Andaman and Nicobar Islands</option><option value="CH">Chandigarh</option><option value="DN">Dadar and Nagar Haveli</option><option value="DD">Daman and Diu</option><option value="DL">Delhi</option><option value="LD">Lakshadeep</option><option value="PY">Pondicherry (Puducherry)</option></select>
                                                            </span>
                                                        </p>

                                                        <p id="calc_shipping_postcode_field" class="form-row form-row-wide validate-required">
                                                            <input type="text" id="calc_shipping_postcode" name="calc_shipping_postcode" placeholder="Postcode / ZIP" value="" class="input-text">
                                                        </p>

                                                        <p><button class="button" value="1" name="calc_shipping" type="submit">Update Totals</button></p>

                                                        <input type="hidden" value="1eafc42c5e" name="_wpnonce"><input type="hidden" value="/electro/cart/" name="_wp_http_referer">
                                                    </div>
                                                </form>
                                            </td>
                                        </tr>*@

                                    <tr class="order-total">
                                        <th>Tổng tiền</th>
                                        <td data-title="Total">
                                            <strong>
                                                <span class="amount">
                                                    @{decimal? price = 0;}

                                                    @Convert.ToDecimal((Model.Sum(x => price = x.Product.PromotionPrice == 0 ? x.Product.Price : x.Product.PromotionPrice * x.Quantity))).ToString("#,##0")




                                                </span>
                                            </strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="wc-proceed-to-checkout">

                                <a class="checkout-button button alt wc-forward" href="checkout.html">Proceed to Checkout</a>
                            </div>
                        </div>
                    </div>
                </article>
            </main><!-- #main -->
        </div><!-- #primary -->
    </div><!-- .container -->
</div><!-- #content -->
