
@model Model.EntityFramework.Product
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}


@section jsFooter{
    <script>

        $("#txtPromotionPrice").change(function () {
            var val = $(this).val();
            var price = $(txtPrice).val();
            if (parseInt(val) > parseInt(price)) {
                $(this).val("0");
                $('#errorBox').empty();
                $('#errorBox').append(' <a class="text-danger">Giá khuyến mãi không được vượt quá giá gốc</a>')
            } else if (parseInt(val) == parseInt(price)) {
                $('#errorBox').empty();
                $('#errorBox').append(' <a class="text-danger">Giảm 100% bạn chắc chứ</a>')
            }
        });
        $("#txtName").change(function () {
            var val = $(this).val();
            var formatMeta = removeAccents(val);
            formatMeta = formatMeta.split(" ").join("-");

            $("#txtMetaTitle").val(formatMeta);
        });

      

        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
                $('#divImage').empty();
                $('#divImage').append('<img width="150" height="150" src="' + url + '" /> ');
            };
            finder.popup();

        })
          var count = 1;
        $('#btnSelectMoreImage').on('click', function (e) {
          
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                if (count < 6) {
                    var val = $('#txtMoreImage').val();
                    if (val != '') {
                        $('#txtMoreImage').val(val + '\n' + url);
                    } else {
                          $('#txtMoreImage').val(url);
                    }
                   
                    $('#divMoreImage').append('<img style = "  margin-left: 5px;" width="150" height="150" src="' + url + '" /> ');
                    count++;
                }

            };
            finder.popup();

        })



        function removeAccents(str) {
            return str.normalize('NFD')
                .replace(/[\u0300-\u036f]/g, '')
                .replace(/đ/g, 'd').replace(/Đ/g, 'D');
        }
    </script>
}



<style>
    .imageHolder {
        border: 1px solid #e2e5ec;
        height: 200px;
        flex-direction: row;
      
        justify-content: center;
       
    }

    .titleHolder {
        border: 1px solid #e2e5ec;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>


@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { @class = "kt-form kt-form--label-right" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xl-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">Tạo sản phẩm mới<small></small></h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-wrapper">

                        </div>
                    </div>
                </div>



                <div class="kt-portlet__body">
                    <div class="kt-section kt-section--first">
                        <div class="kt-section__body">

                            <div class="row">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-9 col-xl-6">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="row">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-9 col-xl-6">
                                    <h3 class="kt-section__title kt-section__title-sm titleHolder">Thông tin sản phẩm</h3>
                                </div>
                            </div>

                            <div class="form-group row">
                                @*<label class="col-xl-3 col-lg-3 col-form-label">Tên đăng nhập</label>*@
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-xl-3 col-lg-3 col-form-label" })
                                <div class="col-lg-9 col-xl-6">
                                    @*<input class="form-control" type="text" placeholder="Nhập tên đăng nhập">*@
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "txtName" }, id = "txtName" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @*<label class="col-xl-3 col-lg-3 col-form-label">Mật khẩu</label>*@
                                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "col-xl-3 col-lg-3 col-form-label" })
                                <div class="col-lg-9 col-xl-6">
                                    @*<input class="form-control" type="password" placeholder="Nhập mật khẩu">*@
                                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group row">
                                @*<label class="col-xl-3 col-lg-3 col-form-label">Mật khẩu</label>*@
                                @Html.LabelFor(model => model.MetaTitle, htmlAttributes: new { @class = "col-xl-3 col-lg-3 col-form-label" })
                                <div class="col-lg-9 col-xl-6">
                                    @*<input class="form-control" type="password" placeholder="Nhập mật khẩu">*@
                                    @Html.EditorFor(model => model.MetaTitle, new { htmlAttributes = new { @class = "form-control", @id = "txtMetaTitle" }, id = "txtMetaTitle" })
                                    @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "col-xl-3 col-lg-3 col-form-label" })
                                <div class="col-lg-9 col-xl-6">
                                    @Html.DropDownListFor(model => model.CategoryID,null, htmlAttributes: new { @class = "form-control" })
         
                                    @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @*<label class="col-xl-3 col-lg-3 col-form-label">Mật khẩu</label>*@
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-xl-3 col-lg-3 col-form-label" })
                                <div class="col-lg-9 col-xl-6">
                                    @*<input class="form-control" type="password" placeholder="Nhập mật khẩu">*@
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="row">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-9 col-xl-6">
                                    <h3 class="kt-section__title kt-section__title-sm">Chi tiết sản phẩm:</h3>
                                </div>
                            </div>
                            <div class="form-group row">
                                @*<label class="col-xl-3 col-lg-3 col-form-label">Họ tên</label>*@
                                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "col-xl-3 col-lg-3 col-form-label" })
                                <div class="col-lg-9 col-xl-6 row ">
                                    <div id="divImage">
                                        <img width="150" height="150" />
                                    </div>
                                    <button id="btnSelectImage" type="button" class="btn btn-primary ">Chọn ảnh</button>
                                    <div class="row">

                                        @Html.TextBoxFor(model => model.Image, new { style = "display: none;", htmlAttributes = new { @id = "txtImage" }, id = "txtImage" })
                                    </div>

                                </div>
                            </div>


                            <div class="form-group row">
                                @*<label class="col-xl-3 col-lg-3 col-form-label">Họ tên</label>*@
                                @Html.LabelFor(model => model.MoreImages, htmlAttributes: new { @class = "col-xl-3 col-lg-3 col-form-label" })
                                <div class="col-lg-9 col-xl-6   ">
                                    <div class=" dropzone dropzone-default dropzone-success row " id="divMoreImage">

                                    </div>
                                    <button id="btnSelectMoreImage" type="button" class="btn btn-primary ">Chọn ảnh</button>
                                    <div class="row">

                                        @Html.TextAreaFor(model => model.MoreImages, new { @wrap = "hard", @class = "form-control", @rows = "5", @id = "txtMoreImage" })
                                    </div>

                                </div>
                            </div>


                            <div class="form-group row">
                                @*<label class="col-xl-3 col-lg-3 col-form-label">Số điện thoại</label>*@
                                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "col-xl-3 col-lg-3 col-form-label" })
                                <div class="col-lg-9 col-xl-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-money"></i></span></div>
                                        @*        <input type="text" class="form-control" placeholder="Nhập số điện thoại" aria-describedby="basic-addon1">*@

                                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "1000", @Value = "0", @id = "txtPrice" }, id = "txtPrice" })

                                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                    </div>
                                    @*<span class="form-text text-muted">We'll never share your email with anyone else.</span>*@
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.PromotionPrice, htmlAttributes: new { @class = "col-xl-3 col-lg-3 col-form-label" })
                                <div class="col-lg-9 col-xl-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-money"></i></span></div>
                                        @Html.EditorFor(model => model.PromotionPrice, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "1000", @Value = "0", @id = "txtPromotionPrice" }, id = "txtPromotionPrice" })
                                        @Html.ValidationMessageFor(model => model.PromotionPrice, "", new { @class = "text-danger" })
                                        <div id="errorBox">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-last row">
                                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "col-xl-3 col-lg-3 col-form-label" })
                                <div class="col-lg-9 col-xl-6">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "1", @Value = "0" } })
                                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-group-last row">
                                @Html.LabelFor(model => model.IncludedVAT, htmlAttributes: new { @class = "col-xl-3 col-lg-3 col-form-label" })
                                <div class="col-lg-9 col-xl-6">
                                    <div class="col-9" style="margin-top:10px">
                                        @Html.CheckBoxFor(model => model.IncludedVAT.Value, new { @class = "checkbox " })
                                        <a>Đã bao gồm 10% VAT</a>
                                        @Html.ValidationMessageFor(model => model.IncludedVAT, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions">
                        <div class="row">
                            <div class="col-lg-3 col-xl-3">
                            </div>
                            <div class="col-lg-9 col-xl-9">
                                <button type="submit" id="submitProject" class="btn btn-success">Submit</button>&nbsp;
                                @*<button class="btn btn-secondary" onclick="history.back()">
                                        Cancel
                                    </button>*@
                                @Html.ActionLink("Cancel", "Index", "Account", null, new { @class = "btn btn-secondary" })

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
}