@model List<OnlineShop.Models.CartItem>
<li class="nav-item dropdown">
    <a href="cart.html" class="nav-link" data-toggle="dropdown">
        <i class="ec ec-shopping-bag"></i>
        <span class="cart-items-count count">@Model.Count()</span>
        <span class="cart-items-total-price total-price"><span class="amount">
        @{decimal? price = 0;}
   
        @Convert.ToDecimal( (Model.Sum(x => price=x.Product.PromotionPrice==0?x.Product.Price:x.Product.PromotionPrice * x.Quantity))).ToString("#,##0")
  

</span></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-mini-cart">
        <li>
            <div class="widget_shopping_cart_content">

                <ul class="cart_list product_list_widget ">

                    @foreach (var item in Model)
                    {
                        <li class="mini_cart_item">
                            <a title="Remove this item" class="remove" href="#">×</a>
                            <a href="single-product.html">
                                <img class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" src="@item.Product.Image" alt="">@item.Product.Name&nbsp;
                            </a>

                            <span class="quantity">
                                @item.Quantity × <span class="amount">

                                @if (item.Product.PromotionPrice == 0)
                                {
                                    @Convert.ToDecimal(@item.Product.Price).ToString("#,##0")
                                }
                                else
                                {
                                    @Convert.ToDecimal(@item.Product.PromotionPrice).ToString("#,##0")
                                }





                            </span>
                        </span>
                    </li>

                }




                </ul><!-- end product list -->


                <p class="total"><strong>Subtotal:</strong> <span class="amount">£969.98</span></p>


                <p class="buttons">
                    <a class="button wc-forward" href="/gio-hang">Giỏ hàng</a>
                    @if (Model.Count > 0)
                    {
                        <a class="button checkout wc-forward" href="checkout.html">Thanh toán</a>
                    }

                </p>


            </div>
        </li>
    </ul>
</li>
